<div class="pop-title">服務Q&A</div>
<ul class="qa-list">
  <li>
    <div class="question">不酒駕叫計程車就好，為何要找代駕呢？</div>
    <div class="answer">
      酒後搭計程車回家，隔天要早起再搭計程車去牽車，還有車輛隔夜的停車費及失竊風險，因此像韓國、中國大陸的消費者都選擇酒後代駕服務。
    </div>
  </li>
  <li>
    <div class="question">你們的司機素質？駕駛技術可靠？</div>
    <div class="answer">
      台灣代駕司機必須具備良民證（無前科）、無肇事紀錄、五年以上駕駛年齡並通過嚴格路試及筆試的考驗才能擔任，人員經嚴格篩選把關素質精良。
    </div>
  </li>
  <li>
    <div class="question">代駕過程中發生意外怎麼辦？</div>
    <div class="answer">
      台灣代駕的每一趟服務均有投保產險公司的代駕責任保險，保障範圍包括車體險、委託人險及第三人體傷財損保險，服務平安有保障。
    </div>
  </li>
  <li>
    <div class="question">代駕服務費用高嗎？</div>
    <div class="answer">
      台灣代駕的費用為全國最低價，10公里內、夜間10點前費用450元，詳細費用說明歡迎參考手機APP或官網內的費用說明。
    </div>
  </li>
  <li>
    <div class="question">如何呼叫代駕服務？</div>
    <div class="answer">
      消費者可直接透過APP STORE免費下載的台灣代駕APP或24H電話客服呼叫代駕服務，電話如下: <br>台北(02)2345-5209 <br> 台中(04)2246-5209
    </div>
  </li>
  <li>
    <div class="question"> 要如何付費？</div>
    <div class="answer">
      目前我們的服務費用一律收取現金，未來將導入信用卡綁定付款的方式供消費者選擇。
    </div>
  </li>
  <li>
    <div class="question">可否挑選代駕司機？</div>
    <div class="answer">
      可以。消費者可透過您的台灣代駕APP，參考地圖上附近司機的照片、星評分數、累計服務趟次、駕駛年齡等資訊來選擇您可以信賴的代駕司機。
    </div>
  </li>
  <li>
    <div class="question"> 需要多久以前呼叫？</div>
    <div class="answer">
      目前由於代駕需求持續增加，所以夜間09 ~ 12點間的服務時常供不應求，因此建議提早15 ~ 20分鐘前預約，較不易讓您等候。
    </div>
  </li>
</ul>
