// color
$dark:          #373A3C;

$lightGray: 	#d9d9d9;
$superLight:	#efefef;
$textGray:		#9b9b9b;
$textDark:		#4a4a4a;

$text:			#808080;

$lightRed:		#ce7681;
$darkRed:		#880b1a;
$lightBlue:		#00A9E0;
$Blue:		    #0077C8; 

// ball color
$ballGreen:     #58B957;
$ballRed:       #DB524B;
$ballBlue:      #00A9E0;
$ballOrange:    #F6A623;
