//按鈕
/*@mixin btnstyle($color, $btnwith, $btnheight, $btnborder, $btnradius) {
    background-color: $color;
    width: $btnwith;
    height: $btnheight;
    border: $btnborder;
    display: inline-block;
    border-radius: $btnradius;
    line-height: $btnheight;
    color: white;
    text-decoration: none;
    text-align: center;
    border-color: white;
    border-style: solid;
}*/

@mixin btnStyle($width, $color, $h_Color, $bgColor, $h_bgColor){
    width: $width;
    height: 52px;
    font-size: 18px;
    border-color: $bgColor;
    color: $color;
    background-color: $bgColor;
    /*font-weight: bold;*/
    letter-spacing: 2px;
    @include ease;
    &:hover{
        color: $h_Color;
        border-color: $bgColor;
        background-color: $h_bgColor;
    }
}

@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    transform: scale($scale);
}

@mixin rounded($radius: 5px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin ease($time:0.2s){
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

@keyFrames downIn{
    0% {
        margin-top: -3px;
    }
    40% {
        margin-top: 3px;
    }
    
    100% {
        margin-top: -3px;
    }

}