<div class="pop-title">兌換記錄</div>
<ul class="list-group txt-left">
  <li class="list-group-item" *ngFor="let item of apply_list">
    <div class="time">
      <span class="gray time-txt">時間：</span>{{item.time}}
    </div>
    <div class="money"><span class="gray">兌換金額：</span>{{item.money+item.fee}}</div>
    <div class="money"><span class="gray">手續費：</span>{{item.fee}}</div>
    <div class="money"><span class="gray">兌換方式：</span>{{item.type}}</div>
    <div class="money"><span class="gray">實際兌換金額：</span>{{item.money}}</div>
  </li>
  
</ul>
