<!--section4 start-->
<!--填寫帳戶資料-->
<section class="section4">
  <h3 class="title">兌換獎金</h3>
  <div class="tips">每筆申請手續費30元自獎金餘額中扣除，禮券扣除30元手續費後，金額低於100元無法兌換</div>
  <div class="money-cont-s">
    <div class="money">{{user.income | currency:'USD':true:'1.0'}}元</div>
    <div class="money-txt">可兌換獎金</div>
    <div class="money-pic"><img src="./assets/img/money.png" alt=""></div>
  </div>
  <div class="cont">
    <div class="cont-left">
      <form role="form" [formGroup]="twddForm" (ngSubmit)="onSubmit()">
        <input id="_token" formControlName="_token" type="hidden">
        <div class="form-group form-group-lg col-sm-6 col-xs-12">
          <label for="myname">姓名</label>
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="請輸入正確姓名" required>
        </div>
        <div class="form-group form-group-lg col-sm-6 col-xs-12">
          <label for="idno">身份證</label>
          <input type="text" class="form-control" formControlName="idno" pattern="^[A-Z]\d{9}$" autocomplete="off" maxlength="10" id="idno"
            placeholder="請填正確身份證號碼" required>
        </div>
        <div class="form-group form-group-lg col-xs-12">
          <label for="exampleInputAdd">地址</label>
          <input type="text" class="form-control" formControlName="address" id="exampleInputAdd" placeholder="請填正確地址" required>
        </div>
        <div class="form-group form-group-lg col-sm-6 col-xs-12">
          <label for="mytype">請選擇獎金申請方式</label>
          <select class="form-control" id="type" formControlName="type" [(ngModel)]="mytype" (ngModelChange)="onChange($event)"  required>
            <option selected value=1>現金匯款</option>
            <option value=2>現金禮券</option>
          </select>
        </div>
        <div class="form-group form-group-lg col-sm-6 col-xs-12 ty2">
          <label for="coupon">請選擇要申請的禮券</label>
          <select class="form-control" id="coupon" formControlName="coupon">
                <option>SOGO禮券</option>
                <option>7-11禮券</option>
                <option>全聯禮券</option>
              </select>
        </div>
        <!--滙款要填的帳戶資料-->
        <div class="account-info col-sm-12 ty1">
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="bankCode">銀行代碼</label>
            <select class="form-control" id="bankCode" formControlName="bankCode" [required]="mytype==1">
                  <option *ngFor="let item of bankNum; let i = index" [value]="bankValue[i]">{{item}}</option>
                </select>
          </div>
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="bankName">分行</label>
            <input type="text" class="form-control" id="bankName" formControlName="bankName" placeholder="請填寫分行名稱" [required]="mytype==1">
          </div>
          <div class="form-group form-group-lg col-xs-12">
            <label for="bankAccount">銀行帳號</label>
            <input type="text" class="form-control" id="bankAccount" formControlName="bankAccount" autocomplete="off" pattern="^(0|[0-9]{6,20})$" [required]="mytype==1">
          </div>
        </div>
        <div class="checkbox col-xs-12">
          <label>
                <input type="checkbox" formControlName="check"> 我已同意<a class="note-btn" href="javascript:;" [routerLink]="['/pop/note']" required>活動條款、獎金的稅務說明及發放說明</a>
              </label>
        </div>
        <button type="submit" class="btn btn-default submit-btn btn-disable col-xs-12">資料送出</button>
      </form>
    </div>
    <div class="cont-right money-cont">
      <div class="money">{{user.income | currency:'USD':true:'1.0'}}元</div>
      <div class="money-txt">可兌換獎金</div>
      <div class="money-pic"><img src="./assets/img/money.png" alt=""></div>
    </div>
  </div>
</section>
<!--section4 end-->
<!--check data 確認資料是否正確-->
<div class="check-popup" style="display:none">
  <div class="pop-cont check-pop">
    <div class="pop-title">請確認您的資料</div>
    <ul>
      <li>
        <div class="sub">姓名:</div>
        <span>{{twddForm.value.name}}</span>
      </li>
      <li>
        <div class="sub">身份證:</div>
        <span>{{twddForm.value.idno}}</span>
      </li>
      <li>
        <div class="sub">地址:</div>
        <span>{{twddForm.value.address}}</span>
      </li>
      <li class="ty2">
        <div class="sub">申請方式:</div>
        <span>{{twddForm.value.coupon}}</span>
      </li>
      <li class="ty1">
        <div class="sub">申請方式:</div>
        <span>現金匯款</span>
      </li>
      <li class="ty1">
        <div class="sub">銀行代碼:</div>
        <span>{{twddForm.value.bankCode}}</span>
      </li>
      <li class="ty1">
        <div class="sub">分行:</div>
        <span>{{twddForm.value.bankName}}</span>
      </li>
      <li class="ty1">
        <div class="sub">帳號:</div>
        <span>{{twddForm.value.bankAccount}}</span>
      </li>
    </ul>
    <ul class="check-money">
      <li>
        <div class="sub">兌換獎金:</div>
        <span>{{user.income}}</span>
      </li>
      <li class="line">
        <div class="sub">手續費:</div>
        <span>-30</span>
      </li>
      <li>
        <div class="sub">實際兌換獎金:</div>
        <span>{{actualAmount}}</span>
      </li>
      <li class="ty2">
        <div class="sub">餘額:</div>
        <span>{{balance}}</span>
      </li>
    </ul>
    <div class="btns">
      <button type="submit" class="btn btn-primary btn-lg send-btn" (click)="onSubmitReady()">送出</button>
      <button type="submit" class="btn btn-primary btn-lg send-btn" (click)="closeBtn()">重填</button>
    </div>
  </div>
  <div class="pop-bg" (click)="closeBtn()"></div>
</div>
