<div class="pop-title">活動詳情</div>
<div class="pop-txt">
  <!--<h4>說明</h4>-->
  <div class="details-box">
    <div class="box-title">1. 新會員註冊/填入邀請序號</div>
    <div class="box-cont">
      <div class="box-des">邀請親朋好友下載ＡＰＰ，需要被邀請人註冊時輸入您的『邀請碼序號』</div>
      <div class="box-pic"><img src="./assets/img/step1-phone.png" alt=""></div>
    </div>
  </div>
  <div class="details-box">
    <div class="box-title">2. 現金回饋流程說明</div>
    <div class="box-cont">
      <div class="box-des">被邀請人成功使用台灣代駕服務的前三次，可享每次100元折扣。您(邀請人)同時可得每次100元的現金回饋，邀請一位朋友使用就有機會回饋300元。<span class="redTxt">邀請越多現金回饋越多！</span></div>
      <div class="box-pic"><img src="./assets/img/step2.png" alt=""></div>
    </div>
  </div>
  <h4 class="down">補充</h4>
  <div class="des">
    一名會員、一支電話號碼只能接受一組邀請碼，先邀先贏不要錯失先機喔！
  </div>
</div>
