<div class="pop-title">活動辦法</div>
<ul class="note-list">
  <li><span class="title">現金回饋優惠活動對象:</span><br> 台灣代駕提供現金回饋給註冊台灣代駕APP的會員，會員透過邀請其他人入會使用台灣代駕APP的代駕服務，並符合以下條件得享現金回饋：
    <ul>
      <li>被邀請人入會，會員註冊APP時必須貼寫邀請人的邀請碼。</li>
      <li>被邀請人透過台灣代駕APP，使用台灣代駕的代駕服務並完成付款(電話呼叫不再回饋範圍內)。</li>
      <li>優惠活動對象限定在本優惠活動期間內新註冊的台灣代駕APP會員及原註冊會員。</li>
      <li>被邀請人前三次使用，提供給邀請人的現金回饋於活動期間內邀請人次不限。</li>
      <li>被邀請人享首三趟代駕費用新台幣(下同)100元折抵，邀請人享現金回饋。</li>
    </ul>
  </li>
  <li><span class="title">優惠活動期間:</span>
    <br>本優惠活動2016年12月1日開始至2017年11月30日結束，但活動期間若已達成10萬人會員募集時，則本優惠活動提前結束，台灣代駕會於APP中公告，恕不另行通知。
  </li>
  <li><span class="title">現金回饋方法:</span>
  <br>為維護客戶權益，避免他人冒用會員名義兌換，本活動一律將現金回饋存入該兌換會員本人提供的銀行帳戶或由會員選擇SOGO、7-11、全聯之一種禮券，擇一兌換等值現金禮券。請注意以下注意事項：
    <br>
    <ul>
      <li>在通常情況下，台灣代駕於接受客戶申請現金回饋後，匯款或郵寄禮券至少需2週之作業時間，若遇有特殊狀況將另於兌換說明中載明。</li>
      <li>若遇突發狀況、不可抗力或客戶個人因素，而使客戶所兌換之現金無法入帳，台灣代駕將無法執行現金回饋給會員，會員不得異議。</li>
      <li>回饋金申請手續費每筆30元，須由會員自行吸收。</li>
      <li>台灣代駕扣除申請手續費後一次匯入會員指定銀行帳戶或整筆兌換一種禮券，禮券或匯款不得分次領取。禮券扣除手續費後不足100元金額部分會以餘額保留在會員回饋金帳戶內。</li>
      <li>活動到期結束或提前結束時，台灣代駕將於官網及活動頁內公告，會員如未在活動結束後的 90 天內領取現金回饋，該金額將被收回，會員不得異議。 </li>
    </ul>
  </li>
  <li><span class="title">現金回饋金額:</span><br>
    <ul>
      <li>對於邀請新會員使用台灣代駕APP服務的邀請人，當該被邀請人透過台灣代駕APP完成使用並結帳付款的前三趟次服務。台灣代駕即依現金回饋方法，回饋每趟100元或等值禮券給邀請人。</li>
      <li>本活動之回饋資格不得轉讓予他人，會員不得要求變更回饋內容、禮券種類或折抵現金等。</li>
    </ul>
  </li>
  <li><span class="title">稅務說明:</span><br> 
    <ul>
      <li>依中華民國稅法規定，獎項(含禮券)金額若超過1,000元(即1,001元以上)者，依法無須扣繳所得稅，但獎項所得將列入個人年度綜合所得稅申報。</li>
      <li>若會員兌換本活動之現金回饋，而產生應繳納任何稅捐時，應由會員自行負擔。</li>
    </ul>
  </li>
  <li><span class="title">注意事項:</span><br>
    <ul>
      <li>若因市場、法令狀況變動等因素，台灣代駕得保留修正、變更與終止本活動內容之權利，會員不得異議。</li>
      <li>其他詳情依台灣代駕 『不酒駕、真情義』活動辦法及條款為準。</li>
    </ul>
  </li>
  <li><span class="title">個資條款</span><br> 
    <ul>
      <li>會員參與本活動接受優惠、回饋，即視為同意台灣代駕將其所提供之個人資料於活動及兌換作業範圍內予以利用處理。</li>
      <li>本活動所蒐集的資料僅供本活動之相關用途，台灣代駕不會用於其他用途，並僅限於活動及處理期間內利用(包括紙本、電腦系統資料庫、電子檔案等)。</li>
    </ul>
  </li>
</ul>
